<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rain.androidexplore">

    <!--自定义权限-->
    <!--AIDL权限验证-->
    <permission
        android:name="com.rain.androidexplore.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <!--contentProvider自定义权限-->
    <permission
        android:name="com.rain.androidexplore.content_provider.BookProvider"
        android:protectionLevel="normal" />

    <!--声明权限-->
    <uses-permission android:name="com.rain.androidexplore.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.rain.androidexplore.content_provider.BookProvider" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--进行socket通信需要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--screenSize 关于该值，在编译版本和目标版本<13时，不会触发activity重启，否则重建-->
        <!--process 指定进程-->
        <!--:remote :会在当前的进程前附加包名，是当前应用的私有进程，不允许其他应用进程-->
        <activity
            android:name=".about_activity_part1.TestActivity1"
            android:configChanges="orientation|screenSize"
            android:process=":remote0" />


        <!--这里是完整的进程名，允许其他组件的加入-->
        <activity
            android:name=".ipc.TestActivity2"
            android:process="com.rain.androidexplore.ipc.remote">
            <intent-filter>
                <action android:name="com.rain.androidexplore.ipc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ipc.IPCActivity" />

        <activity android:name=".ipc.TestActivity3" />

        <activity
            android:name=".ipc.TestActivity4"
            android:process=":remote" />

        <activity android:name=".ipc.SocketClientActivity" />
        <activity android:name=".ipc.BinderPoolActivity" />

        <service
            android:name=".aidl.MessengerService"
            android:process=":remote" />

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <service
            android:name=".socket.TCPServerService"
            android:process=":socket_server" />
        <service android:name=".aidl.BinderPoolService" />


        <provider
            android:name=".content_provider.BookProvider"
            android:authorities="com.rain.androidexplore.content_provider.BookProvider"
            android:exported="true"
            android:permission="com.rain.androidexplore.content_provider.BookProvider"
            android:process=":provider" />
    </application>

</manifest>